:root {
	color-scheme: light;
	--wow-font-size: 17px;
	--wow-bg: var(--bg-primary);
	--wow-input-bg: var(--bg-third);
	--wow-checkbox-shadow: #23262915;
	--wow-accent: var(--accent-primary);
	--wow-accent-secondary: var(--accent-secondary);
	--wow-accent-light: #ff955722;
	--wow-color: var(--text-primary);
	--wow-label: var(--text-secondary); /* #232629; #79848f; #1d1d27; */
	--wow-label-font-size: 14px;
	--wow-placeholder: var(--placeholder); /* #dfe0ea; #7e7e90; */
	--wow-border: var(--divider-primary);
	--wow-padding: 1em 1.3em;
	--wow-border-radius: var(--btn-border-radius);
	--wow-border-hover: var(--accent-primary);
	--wow-option-hover: #f4f4f4;
	--wow-scroll-thumb: #cdcdcd;
	--wow-scroll-bg: #f0f0f0;
	--wow-icon: #98a5bd;
	--wow-btn-color: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--wow-bg: var(--bg-primary);
		--wow-input-bg: var(--bg-third);
		--wow-checkbox-shadow: #23262915;
		--wow-accent: var(--accent-primary);
		--wow-accent-secondary: var(--accent-secondary);
		--wow-accent-light: #ff955722;
		--wow-color: var(--text-primary);
		--wow-label: var(--text-secondary); /* #232629; #79848f; #1d1d27; */
		--wow-label-font-size: 14px;
		--wow-placeholder: var(--placeholder); /* #dfe0ea; #7e7e90; */
		--wow-border: var(--divider-primary);
		--wow-padding: 1em 1.3em;
		--wow-border-radius: 10px;
		--wow-border-hover: #ff9557;
		--wow-option-hover: #2a2e32;
		--wow-scroll-thumb: #717171;
		--wow-scroll-bg: #232629;
		--wow-icon: #717171;
	}
}

[color-scheme='light'] {
	color-scheme: light;
	--wow-bg: var(--bg-primary);
	--wow-input-bg: var(--bg-third);
	--wow-checkbox-shadow: #23262915;
	--wow-accent: var(--accent-primary);
	--wow-accent-secondary: var(--accent-secondary);
	--wow-accent-light: #ff955722;
	--wow-color: var(--text-primary);
	--wow-label: var(--text-secondary); /* #232629; #79848f; #1d1d27; */
	--wow-label-font-size: 14px;
	--wow-placeholder: var(--placeholder); /* #dfe0ea; #7e7e90; */
	--wow-border: var(--divider-primary);
	--wow-padding: 1em 1.3em;
	--wow-border-radius: 10px;
	--wow-border-hover: #ff9557;
	--wow-option-hover: #f4f4f4;
	--wow-scroll-thumb: #cdcdcd;
	--wow-scroll-bg: #f0f0f0;
	--wow-icon: #98a5bd;
}

[color-scheme='dark'] {
	color-scheme: dark;
	--wow-bg: var(--bg-primary);
	--wow-input-bg: var(--bg-third);
	--wow-checkbox-shadow: #23262915;
	--wow-accent: var(--accent-primary);
	--wow-accent-secondary: var(--accent-secondary);
	--wow-accent-light: #ff955722;
	--wow-color: var(--text-primary);
	--wow-label: var(--text-secondary); /* #232629; #79848f; #1d1d27; */
	--wow-label-font-size: 14px;
	--wow-placeholder: var(--placeholder); /* #dfe0ea; #7e7e90; */
	--wow-border: var(--divider-primary);
	--wow-padding: 1em 1.3em;
	--wow-border-radius: 10px;
	--wow-border-hover: #ff9557;
	--wow-option-hover: #2a2e32;
	--wow-scroll-thumb: #717171;
	--wow-scroll-bg: #232629;
	--wow-icon: #717171;
}

@media (max-width: 1600px) {
	:root {
		--wow-font-size: 16px;
	}
}

@media (max-width: 1280px) {
	:root {
		--wow-font-size: 15px;
	}
}

@media (max-width: 1024px) {
	:root {
		--wow-font-size: 15px;
	}
}

@media (max-width: 480px) {
	:root {
		--wow-font-size: 15px;
	}
}

/* overwrite input.css style below */

label i {
	float: right;
}

h1.full {
	text-align: left;
}
