:root {
	--font-family: Poppins, sans-serif;
	--font-size: 15px;
	--border-radius: 6px;
	--color-text: #1f2023;
	--color-background: #fff;
	--color-border: #d6dce9;
	--color-divider: #e8ebf5;
	--color-placeholder: #878fab;
	--color-icon: #878fab;
	--color-primary: #0249fe;
	--color-primary-mute: #2966ff;
	--color-primary-shadow: #0249fe22;
	--color-secondary: #fb5520;
	--color-secondary-mute: #ff6a48;
	--color-secondary-shadow: #fb552022;
	--color-link: var(--color-primary);
	--color-link-mute: var(--color-secondary);
	--color-green: #41c207;
}
