:root {
	--font-family: Poppins, sans-serif;
	--scrollbar: #d6d6d6;
	--scrollbar-1: #dcdcdc;
	--scrollbar-thumb: #f7f7f5;
	--scrollbar-thumb-1: #a1a1a1;
	--input-border: #e0e0e0;
	--input-border-1: #f4f2ed;
	--bg-gray: #e7e7e7;
	--bg-gray-1: #f8f8fb;
	--bg-grey-2: #f3f6f8;
	--text-grey: #8e8e8e;
	--text-grey-1: #747d8c;
	--text-grey-2: #a4b0be;
	--font-size: 15px;
	--border-radius: 6px;
	--color-text: #1f2023;
	--color-text-1: #1c2637;
	--color-text-2: #2c2c2c;
	--color-background: #fff;
	--color-border: #d6dce9;
	--color-divider: #e8ebf5;
	--color-placeholder: #878fab;
	--color-icon: #878fab;
	--color-primary: #0249fe;
	--color-primary-mute: #2966ff;
	--color-primary-shadow: #0249fe22;
	--color-secondary: #fb5520;
	--color-secondary-mute: #ff6a48;
	--color-secondary-shadow: #fb552022;
	--color-link: var(--color-primary);
	--color-link-mute: var(--color-secondary);
	--color-orange: #ff7631;
	--color-orange-1: #ff6000;
	--color-orange-2: #fd3903;
	--color-green: #41c207;
	--color-green-mate: #3dd37a;
	--color-lime: #a3ed00;
}
