textarea {
	font-family: var(--font-family);
}

.h4-title {
	float: left;
	width: 100%;
	height: auto;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 5px;
}
.social__links {
	float: left;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 20px 0px;
}
.social-link__box {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border: 1px solid var(--divider-primary);
	border-radius: var(--border-radius);
	overflow: hidden;
}
.social-link__top,
.social-link__bottom {
	float: left;
	width: 100%;
	height: auto;
	padding: 20px;
	display: flex;
	align-items: center;
	color: var(--text-primary);
}
.social-link__bottom {
	font-size: 14px;
	color: var(--text-secondary);
	background: var(--bg-third);
}
.social-link__href {
	flex-grow: 1;
	color: var(--text-primary);
	text-transform: capitalize;
}
.social-link__delete {
	float: right;
	padding: 10px;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	border-radius: var(--border-radius);
	transition: all 0.6s;
	cursor: pointer;
}
.social-link__delete:hover {
	color: #fff;
	background: #f23;
}
.social-link__up,
.social-link__down {
	float: right;
	padding: 10px;
	margin-right: 5px;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	border-radius: var(--border-radius);
	transition: all 0.6s;
	cursor: pointer;
}
.social-link__up:hover,
.social-link__down:hover {
	color: #fff;
	background: #0066fa;
}
.empty__list {
	float: left;
	width: 100%;
	height: auto;
	padding: 20px;
	text-align: center;
	font-weight: 500;
	color: var(--text-third);
	border: 1px solid var(--divider-primary);
	border-radius: var(--border-radius);
}

.page-content__desc {
	color: var(--text-secondary);
}

.page__menu {
	display: none;
	float: left;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid var(--divider-primary);
}
.page__menu > span {
	font-size: 21px;
	font-weight: 700;
}
.page__menu > i {
	float: right;
}
.page-menu__nav {
	float: left;
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding: 10px 0px 0px 0px;
	background: var(--bg-secondary);
	border-radius: 25px;
	/* border: 1px solid var(--divider-primary); */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.page__wrapper {
	float: left;
	width: 100%;
	min-height: 600px;
	display: flex;
	align-items: stretch;
}
.page__menu-left {
	float: left;
	width: 35%;
	padding: 20px 0px 20px 30px;
}
.page__content {
	float: left;
	width: 65%;
	padding: 20px 30px;
	border-left: 1px solid var(--divider-primary);
}
.page-menu__title {
	font-size: 21px;
	font-weight: 700;
	padding: 10px 0px 30px 0px;
}
.page-content__title {
	font-size: 18px;
	font-weight: 700;
	padding: 10px 0px 30px 0px;
	border-bottom: 1px solid var(--divider-primary);
	display: flex;
	align-items: center;
}

.page-content__title i {
	margin-right: 20px;
}

.pulpit__wrapper {
	float: left;
	width: 100%;
	padding: 30px;
}

.pulpit__title {
	float: left;
	width: 100%;
	font-size: 21px;
	font-weight: 700;
}

.f2a-enabled {
	float: left;
	width: 100%;
	color: #5c5;
	border-left: 1px solid #5c5;
	font-weight: 500;
	padding: 5px 20px;
	margin: 10px 0px;
	font-size: 14px;
}
.f2a-disabled {
	float: left;
	width: 100%;
	color: #f23;
	border-left: 1px solid #f23;
	font-weight: 500;
	padding: 5px 20px;
	margin: 10px 0px;
	font-size: 14px;
}

.client-panel-form {
	display: inline-block;
	width: 100%;
	max-width: 100% !important;
	padding-bottom: 40px;
	border-bottom: 1px dashed var(--divider-primary);
}

.delete-button {
	font-weight: 700;
	color: #fff !important;
	background: #f41a2c !important;
	border-color: #f41a2c !important;
}

.delete-button:hover {
	box-shadow: 0px 5px 10px #f41a2c33;
}

@media all and (max-width: 1024px) {
	.page__menu {
		display: inherit;
	}
	.page__menu-left {
		display: none;
	}
	.page__content {
		width: 100%;
		border: 0px;
	}
}
